<div class="titulo">Editar Escenario</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
  <div class="enColumna">
   <div class="enFila">

        <div class="enColumna">
              <span style="font-weight: bold;">Nombre: </span>
              <input style="background-color: transparent" type="text" name="nombre" placeholder="Escribe el nombre" (change) = "cambios=true" requiered [(ngModel)]="nombreEscenario">
              <br>
              <br>
              <input style="background-color: transparent; font-size: 70%" type="text" name="descripcion" placeholder="Escribe la descripcion" (change) = "cambios=true" requiered [(ngModel)]="descripcionEscenario">
              <br>
              <button *ngIf = "cambios" type="button" class="btn Aceptar"  (click)= "EditarEscenario()">Aceptar Cambios <i class="material-icons">
                  check </i></button>
        </div>
    </div>
    <mat-divider class="lineaDivisoria"></mat-divider>
    <div  class = 'enColumna' >
      <button style = 'width: 30%' type="button" class="btn Agregar" (click) = AbrirDialogoAgregarEscenaEscenario()>
          Agregar Escena <i class="material-icons">library_add</i>
      </button>
    </div>
    <br>
    <br>
    <div class="escenascontenedor" *ngIf="EscenasdeEscenario.length>0; else Aviso_no_escenas">
      <mat-grid-list cols="3" rowHeight="80px" style="width: 100%;" gutterSize="10px">
      <mat-grid-tile *ngFor="let escena of EscenasdeEscenario; let i = index" [colspan]="1" [rowspan]="4" [style.background]="white" class="EscenasCardStyle">
        <!--class="escenaEscaperoom"-->  
        
            <div class= "enColumna">
              <!-- <div style="display: flex; justify-content:space-between; width: 250px "> -->
                <div align="center">
                  <br>
                  <p style="color:black; margin-top: 10%;margin-bottom: 5%; font-weight: bold">{{escena.Nombre}}</p>
              
                </div>
            <!-- <mat-card-content style="display: flex; align-items: center;justify-content: center;"> -->
              <br>
              <!--class="posicionImagen"-->
              <div style="margin-top: 15px; max-width: 60%; max-height: 50%;" >
                <img class ="imagenEscenaEscaperoom" *ngIf="imagenesEscenas[i]"  mat-card-image [src]="imagenesEscenas[i]" >
              </div>
              <div class="enColumna">
                <div class = "enFila" style = "width: 100%" >

                  <button type="button" style="width: 50px !important;" class="btn Editar" (click) = "AbrirDialogoEditarEscena(escena)">
                    <i  class="material-icons">edit </i>
                  </button>

                  
                  <button type="button" style="width: 50px !important;" class="btn Eliminar" (click) = "AbrirDialogoConfirmacionBorrarEscena(escena)">
                    <i  class="material-icons">delete </i>
                  </button>
                </div>
              </div>
            </div>
      </mat-grid-tile>
      </mat-grid-list>
    </div>

    <ng-template  #Aviso_no_escenas><div class="texto">No hay escenas</div></ng-template>
    <br>
    <br>
    <button type="button" class="btn Back" (click)="goBack()">Volver </button>


  </div>

</div>
