<div class="titulo">Skin Pública</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
  <div class= "enColumna">
  <mat-card class="panel">
    <mat-card-content>
      <div class="enColumna">
        <div class="texto" style=" text-align: center;">
          <mat-label style="color: white;">Nombre: </mat-label>
          <mat-label style="background-color: transparent">{{nombreSkin}}</mat-label>
        </div>
        <br>
        <br>
        <img style="max-width: 30%; max-height: 30%;" class="imagenEscenaEscaperoom" *ngIf="imagenSkin" mat-card-image [src]="imagenSkin">
      </div>
    </mat-card-content>
  </mat-card>

  <mat-dialog-actions align= "end">
  <!-- <button mat-button [mat-dialog-close] class="btn Cerrar">Cerrar</button> routerLink= "editarColeccion" -->
    <button mat-button (click)= "Cerrar();" class="btn Cerrar">Cerrar</button>
  </mat-dialog-actions>
</div>
</div>
