
<div class="titulo"><h2>Crear Enigma</h2></div>
<mat-divider style="width: 100%; margin-left : 15%"></mat-divider>
<div class="contenedor">
  <mat-tab-group>
          <mat-tab label="Crear enigma">

              <!-- STEPPER -->

                <mat-card class="panel" style= "width: 100%">

                  <mat-card-content>

                  <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="true" #stepper>


                    <!-- PRIMER PASO -->
                    <mat-step [stepControl]="myForm">

                    <form [formGroup]="myForm">
                      <ng-template matStepLabel>Nombre y Tipo</ng-template>
                      <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombreEnigma" required>
                        <mat-error>Este campo es obligatorio</mat-error>
                      </mat-form-field>
                      <br>
                      <br>
                      <mat-form-field appearance="fill">
                        <mat-label>Tipo</mat-label>
                        <mat-select name="Types" placeholder="Selecciona el tipo" (selectionChange)="AsignarTipo()" [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}" required>
                          <mat-option *ngFor="let type of types" [value]="type.id">
                            {{type.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <br>
                      <br>
                      <mat-form-field appearance="fill">
                        <mat-label>Tipo</mat-label>
                        <mat-select name="Dificultades" placeholder="Selecciona la dificultad" (selectionChange)="AsignarDificultad()" [(ngModel)]="selectedDificultad" [ngModelOptions]="{standalone: true}" required>
                          <mat-option *ngFor="let dificultad of dificultades" [value]="dificultad.id">
                            {{dificultad.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="btnCambiarStep">
                        <button class="btn Next" matStepperNext (click)= DatosEnigma() >Siguiente</button>
                      </div>
                    </form>
                    </mat-step>

                    <!-- PASO AÑADIR ESCENAS -->
                    <mat-step>
                      <ng-template matStepLabel>Finalizar</ng-template>

                      <mat-card class="panel" style="width:100%" >
                        <mat-card-header>
                          <mat-card-title>Finalizar</mat-card-title>
                      </mat-card-header>

                      <mat-card-actions align="end">
                        <button  matStepperBack (click) = "LimpiarCampos()" type="button" class="btn Back">Limpiar Campos</button>
                        <button  (click) = "CrearEnigma()"  class="btn Aceptar">Agregar Enigma y Finalizar</button>
                      </mat-card-actions>
                        </mat-card>
                    </mat-step>

                  </mat-horizontal-stepper>
                </mat-card-content>
              </mat-card>


          </mat-tab>
  </mat-tab-group>
</div>
<div class="enColumna">
  <button type="button" class="btn Aceptar" (click)="Volver()">Mis Objetos</button>
</div>
<br>


