<div align="center">
  <mat-card class="panel">
  
    <form>
      <div class="enColumna">
            <div class = "filter2">
              <mat-form-field>
                <input matInput (keyup)="applyFilterPreguntas($event.target.value)" placeholder="Filtro para buscar preguntas del profesor...">
                <i class="material-icons" matSuffix>search</i>
              </mat-form-field>
            </div>
            <table align="center" mat-table [dataSource]="dataSourcePreguntas" class="example-container mat-elevation-z8">
  
          <ng-container matColumnDef="Titulo">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="text-align: left !important;"> Nombre </th>
            <td style=" max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;" mat-cell *matCellDef="let pregunta"> {{pregunta.Titulo}} </td>
          </ng-container>

          <ng-container matColumnDef="Tipo">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="text-align: left !important;"> Nombre </th>
            <td mat-cell *matCellDef="let pregunta"> {{pregunta.Tipo}} </td>
          </ng-container>

          <ng-container matColumnDef="Pregunta">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="text-align: left !important;"> Nombre </th>
            <td style=" max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;" mat-cell *matCellDef="let pregunta"> {{pregunta.Pregunta}} </td>
          </ng-container>

          <ng-container matColumnDef="Tematica">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="text-align: left !important;"> Nombre </th>
            <td mat-cell *matCellDef="let pregunta"> {{pregunta.Tematica}} </td>
          </ng-container>

          <ng-container matColumnDef="Iconos">
            <th  mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
            <td  mat-cell *matCellDef="let pregunta">
              <div align="right">
                <button  (click) = "SeleccionarPregunta(pregunta)" mat-icon-button matTooltip="Selecciona la pregunta">
                  <i class="material-icons green md-36">add</i>
                </button>

              </div>
          </td>
        </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumnsPreguntas"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsPreguntas;">
          </tr>
  
            </table>

        <br>
        <br>        
        <h4>Edita las opciones de la pregunta:</h4>
        <br>
        <span style="font-weight: bold;">Puntos a sumar: </span>
        <input style="background-color: transparent" type="number" name="nombre" placeholder="Escribe los puntos a sumar" (change) = "TengoPuntosSumar()" requiered [(ngModel)]="PuntosSumar" [ngModelOptions]="{standalone: true}">
        <br>
        <br>
        <span style="font-weight: bold;">Puntos a restar: </span>
        <input style="background-color: transparent" type="number" name="nombre" placeholder="Escribe el orden de la escena" (change) = "TengoPuntosRestar()" requiered [(ngModel)]="PuntosRestar" [ngModelOptions]="{standalone: true}">
        <br>
        <br>
      </div>
    </form>
  
    <div  *ngIf="tengoObjetoPregunta" class = "enColumna" align="center">
      <button style = "width: 20%" (click)="EditarPregunta()" [disabled]="!tengoObjetoPregunta" type="button" class="btn Aceptar">Editar pregunta</button>
    </div>
  <br>
  
    <mat-dialog-actions align= "center">
      <!-- <button mat-button [mat-dialog-close] class="btn Cerrar">Cerrar</button> routerLink= "editarColeccion" -->
        <button mat-button (click)= "Cerrar();" class="btn Cerrar">Cerrar</button>
    </mat-dialog-actions>
  </mat-card>
  </div>