<div class="titulo">Editar Escenario</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
  <div class="enColumna">
   <div class="enFila">

        <div class="enColumna">
              <span style="font-weight: bold;">Nombre: </span>
              <label style="background-color: transparent">{{nombreEscenario}}</label>
              <br>
              <br>
              <p style="background-color: transparent; font-size: 70%">{{descripcionEscenario}}</p>
              <br>
        </div>
    </div>
    <br>
    <br>
    <mat-divider class="lineaDivisoria"></mat-divider>
    <mat-grid-list cols="3" rowHeight="100px" style="width: 100%;" gutterSize="10px">
      <mat-grid-tile
          *ngFor="let escena of EscenasdeEscenario; let i = index"
          [colspan]="1"
          [rowspan]="4"
          [style.background]="white" class="EscenasCardStyle">
            <div class= "enColumna">
              <div align="center">
                <br>
                <p style="color:black; margin-top: 10%;margin-bottom: 5%; font-weight: bold">{{escena.Nombre}}</p>
            
              </div>
          <!-- <mat-card-content style="display: flex; align-items: center;justify-content: center;"> -->
            <br>
            <!--class="posicionImagen"-->
            <div style="margin-top: 15px; max-width: 60%; max-height: 50%;" >
              <img class ="imagenEscenaEscaperoom" *ngIf="imagenesEscenas[i]"  mat-card-image [src]="imagenesEscenas[i]" >
            </div>
           
            </div>
      </mat-grid-tile>
    </mat-grid-list>

    <button type="button" class="btn Back" (click)="goBack()">Volver </button>


  </div>

</div>
